body {
  background: url('http://www.glomart.ru/data/img/stol-obedenniy-marcello-TC9824-2.jpg') center/cover;
  font-size: 25px;
  color: #ffffff;
}

#bars, #player, #count  {
  border: 2px solid black;
  margin-top: 50px;
  text-align: center;
  font-size: 25px;
}

#buttons1 {
  margin-top: 250px;
  border: 2px solid black;
  float: right;
  margin-right: 100px;
}

#buttons2 {
  width: 90px;
  margin-top: 250px;
  border: 2px solid black;
  margin-left: 100px;
}


#forBars {
  font-size: 30px;
}

#user1 {
  background-color: #2B12B4;
}

#user2 {
  background-color: #C41139;
}
